@page "/custom-fields/{culture}"
@inherits BasePage

<div class="panel panel-default">
    <div class="panel-heading">@Culture</div>
    @if (!_currentCustomFieldGroup.CustomFields.Any())
    {
        <div class="panel-body">
            <div class="well well-sm">No custom fields found.</div>
        </div>
    }
    @foreach(var field in _currentCustomFieldGroup.CustomFields)
    {
        <CustomFieldDetail Field="field" EditHandler="HandleEdit" DeleteHandler="HandleDelete"></CustomFieldDetail>
    }

    <div class="panel-footer">
        <button type="button" class="btn btn-primary" @onclick="HandleAddNew">
            Add Field
        </button>
        
        <NavLink Match="NavLinkMatch.All" class="btn btn-default" href="/custom-fields">Back</NavLink>
    </div>
</div>

@if (_isAdd || _isEdit)
{
    <div class="modal fade" id="customFieldGroupModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <EditForm Model="_model" OnSubmit="OnSubmit">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalLabel">@(_isAdd ? "Add" : "Edit") Field</h4>
            </div>
            <div class="modal-body">
                <DataAnnotationsValidator/>

                <div class="mb-3">
                    <label class="form-label">DataField</label>
                    <Select Items="dataFields" SelectedValue="@_model.DataField" Excludes="ExcludesDataFields" Callback="ChangeDataField"></Select>
                    <InputText @bind-Value="_model.DataField" hidden/>
                </div>

                <div class="mb-3">
                    <label class="form-label">Match</label>
                    <InputText @bind-Value="_model.Match" class="form-control"/>
                    <ValidationMessage For="() => _model.Match"/>
                </div>
                
                <div class="mb-3">
                    <label class="form-label">StaticValue</label>
                    <InputText @bind-Value="_model.StaticValue" class="form-control"/>
                    <ValidationMessage For="() => _model.StaticValue"/>
                </div>

                <div class="mb-3">
                    <label class="form-label">Template</label>
                    <InputText @bind-Value="_model.Template" class="form-control"/>
                    <ValidationMessage For="() => _model.Template"/>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </EditForm>
        </div>
    </div>
</div>
}