@page "/fill-data"
@inherits BasePage

<select id="culture" class="form-control select-culture">
    @foreach (var culture in _supportCultures)
    {
    if(culture.Key == _currentCulture)
    {
    <option value="@culture.Key" selected>@culture.Value</option>
    continue;
    }

    <option value="@culture.Key">@culture.Value</option>
    }
</select>