@page "/global-configuration"
@inherits BasePage

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Global Configuration</h5>
        <p class="card-text">This is where you can configure the global settings for the application.</p>
    </div>
    <div class="card-body">
        <EditForm Model="_model" OnSubmit="HandleSubmit">
            <DataAnnotationsValidator/>
            
            <div class="mb-3">
                <label class="form-label">Culture</label>
                <Select Items="_locales" SelectedValue="@_model.CurrentCulture" Callback="(val) => { _model.CurrentCulture = val; }"></Select>
                <InputText @bind-Value="_model.CurrentCulture" hidden />
            </div>

            <div class="mb-3">
                <label class="form-label">Match Template</label>
                <InputText class="form-control" @bind-Value="_model.MatchTemplate" />
            </div>
            
            @if (_canConnectUpdateDataSource)
            {
                <div class="mb-3">
                    <label class="form-label">Admin Portal Endpoint</label>
                    <InputText class="form-control" @bind-Value="_model.AdminPortalEndpoint" />
                    <ValidationMessage For="@(() => _model.AdminPortalEndpoint)" />
                </div>
            }
            
            <div class="mb-3">
                <label class="form-label">
                    <InputCheckbox @bind-Value="_model.RefreshOnFill"/> Refresh On Fill
                </label>
            </div>
            
            <div class="mb-3 text-center">
                @if (IsLoading)
                {
                    <button class="btn btn-primary disabled" type="submit"><span class="spinner"></span> Loading...</button>
                }
                else
                {
                    <button class="btn btn-primary" type="submit">Save</button>
                }
            </div>
        </EditForm>
    </div>
</div>