@page "/update-datasource-endpoint"
@inherits BasePage

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Update Datasource Endpoint</h5>
    </div>
    <div class="card-body">
        <EditForm Model="_model" OnSubmit="HandleSubmit">
            <DataAnnotationsValidator/>

            <div class="mb-3">
                <label class="form-label">DatasourceId</label>
                <InputNumber @bind-Value="_model.DatasourceId" class="form-control"/>
                <ValidationMessage For="() => _model.DatasourceId"/>
            </div>

            <div class="mb-3">
                <label class="form-label">TestUrl</label>
                <InputText @bind-Value="_model.TestUrl" class="form-control"/>
                <ValidationMessage For="() => _model.TestUrl"/>
            </div>

            <div class="mb-3">
                <label class="form-label">LiveUrl</label>
                <InputText @bind-Value="_model.LiveUrl" class="form-control"/>
                <ValidationMessage For="() => _model.LiveUrl"/>
            </div>

            <div class="mb-3 text-center">
                @if (_isLoading)
                {
                <button class="btn btn-primary disabled" type="submit"><span class="spinner"></span> Loading...</button>
                }
                else
                {
                <button class="btn btn-primary" type="submit">Update</button>
                }
            </div>
        </EditForm>
    </div>
</div>