<div class="card custom-field">
    <div class="card-header">
        <strong>Username</strong>
        <div class="custom-field-buttons ">
            <div class="btn btn-sm btn-link drag-handle" tabindex="0" role="button" aria-describedby="rbd-hidden-text-1-hidden-text-18" data-rbd-drag-handle-draggable-id="draggable-0" data-rbd-drag-handle-context-id="1" draggable="false">
                <img src="images/move.svg" width="12" height="12" alt="Move">
            </div>
            <button type="button" class="btn btn-sm btn-link">
                <img src="images/edit.svg" width="12" height="12" alt="Edit">
            </button>
            <button type="button" class="btn btn-sm btn-link">
                <img src="images/delete.svg" width="12" height="12" alt="Delete">
            </button>
        </div>
    </div>
    <table class="table">
        <tbody>
        <tr>
            <td class="col-3">Data Type</td><td>username</td>
        </tr>
        <tr>
            <td>Match</td><td>userid, username</td>
        </tr>
        </tbody>
    </table>
</div>