@if (Items == null)
{
    <div class="spinner">Loading</div>
}
else
{
    <select id="select2" class="form-control">
        @foreach (var (k, v) in Items)
        {
            if(k == SelectedValue)
            {
                <option value="@k" selected>@v</option>
                continue;
            }

            <option value="@k">@v</option>
        }
    </select>
}